<style>
    body{
        background-color: forestgreen;
    }
    ul{
        color: mediumblue;
        font-family: sans-serif;
        font-size: 20px;
    }
</style>
<br><br><br>
<ul>
    <li><p>Quiero ser un profesional de las artes marciales siendo mejor que cualquiera.</p></li>
    <br><br>
    <li><p>Quiero ser un profesional en el area de estudio que escoja.</p></li>
    <br><br>
    <li><p>Quiero lograr tener una familia con 2 o 3 hijos y ser el mejor papa.</p></li>
    <br><br>
    <li><p>Quiero ser feliz para que los que se me acerquen sean felices conmigo.</p></li>
    <br><br>
    <li><p>Quiero ser como Jesus y estar cada dia mas cerca de Dios y que lo ven atraves de mi.</p></li>
</ul>